* {
    padding: 0;
    margin: 0;
}

/* Styling af header og footer*/

body {
    height: 100vh;
    width: 100vw;
}

header {
    height: 10vh;
    width: 100vw;
    background-color: #ffc6bf;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 03px 15px rgba(50,50,50,.2);
}

header h1 {
    font-size: 40px;
    text-align: center;
}

nav {
    height: 10vh;
    width: 100vw;
    text-align: center;
    background-color: #FFEEE3;
    box-shadow: 0 03px 15px rgba(50,50,50,.2);
    
}

nav ul {
    width: 100vw;
    list-style: none;
}

nav ul li {
    display: inline;
}

#content {
    width: 80vw;
    min-height: 60vh;
    padding-left: 100px;
}

footer {
    width: 100vw;
    height: 20vh;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer_info {
    height: 15vh;
    width: 100vw;
    background-color: #ffc6bf;
    color: white;
}

.footer_copy {
    background-color: white;
    height: 5vh;
    width: 100vw;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling af actions*/

.action {
    margin-bottom: 1em;
}

/* Styling af tabeller */

table {
    border-collapse: collapse;
    vertical-align: top;
}

table.list {
    width: 100%;
}

table.list tr td {
    border: 1px solid white;
    background-color: #FFEEE3;
}

table.list tr th {
    border: 1px solid white;
    background-color: #7F1330;
    color: white;
    text-align: left;
}

/* Styling af forms */

dl {
    clear: both;
    overflow: hidden;
}

dt {
    float: left;
    font-weight: bold;
    width: 25px;
}

dd {
    float: left;
}

#operations {
    clear: both;
}

/* Styling af errors */

.errors {
    display: inline-block;
    border: 2px solid red;
    color: red;
}

.errors ul {
    padding-left: 10px;
}
